<h3 style="padding-top: 10px; margin: 0;">9/11/24 @ i forgor</h3>
<p style="padding: 0; margin: 0;">
    > Removed old blog posts section <br>
    > Added status cafe to my status section <br>
    > Fixed the mini blog and how it displays <br>
    > Tried dealing with responsiveness a tiny bit
</p>
<h3 style="padding-top: 10px; margin: 0;">9/7/24 @ 11:14pm</h3>
<p style="padding: 0; margin: 0;">
    > Trying to make follow button
</p>
<h3 style="padding-top: 10px; margin: 0;">9/7/24 @ 10pm</h3>
<p style="padding: 0; margin: 0;">
    > Added all the people I follow to the cools sites section
</p>
<h3 style="padding-top: 10px; margin: 0;">9/7/24 @ 8:50pm</h3>
<p style="padding: 0; margin: 0;">
    > Fixed crt cause I double overlayed it -.- I also am trying to figure out an rss situation but that's it as of now. I'm going to start working on a cool sites/credits section here in a bit
</p>
<h3 style="padding-top: 10px; margin: 0;">9/7/24 @ 2:00pm</h3>
<p style="padding: 0; margin: 0;">
    > I added buttons and cleaned up the button section. I also did my best to fix the items flowing over the container. Also yesterday added miniblog section.
</p>
<h3 style="padding-top: 10px; margin: 0;">9/6/24 @ 11:40pm</h3>
<p style="padding: 0; margin: 0;">
    > I fixed the chatbox to be dark and changed my guestbook over to atabook. I want to still use the comments widget, but I want to patch it first. But I've really gotta take a break I've only been doing this the past three days. Might partly be cause I'm feeling a bit bleh and this makes me feel happy. But school work calls... The question is do I really want to answer? lol ;-;
</p>
<h3 style="padding-top: 10px; margin: 0;">9/6/24 @ 1:51pm</h3>
<p style="padding: 0; margin: 0;">> updated a lot of stuff on the site. Basically looks all new, but generally the layout is the same. Also added the about section! Plus glowy links :3</p>
<h3 style="padding-top: 10px; margin: 0;">9/5/24 @ 8:08pm</h3>
<p style="padding: 0; margin: 0;">> I, in fact, have not taken a break...</p>
<h3 style="padding-top: 10px; margin: 0;">9/5/24 @ 6:18pm</h3>
<p style="padding: 0; margin: 0;">> okay i added all the things now imma take a break (probably)</p>
<h3 style="padding-top: 10px; margin: 0;">9/5/24</h3>
<p style="padding: 0; margin: 0;">> i've added some... spice :3</p>
<h3 style="padding-top: 10px; margin: 0;">9/4/24 @ 11:24pm</h3>
<p style="padding: 0; margin: 0;">> i am way too tired to make more so imma slep but keep track of todo</p>
<h3 style="padding-top: 10px; margin: 0;">9/4/24</h3>
<p style="padding: 0; margin: 0;">> actually making first update!</p>